*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.jumbotron {
    min-height: 750px;


}
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: blue;
  text-align: center;
  color: black;
  font-size: 3em;
}
.page-footer {
  background-color: white;
  color:black;
}
.lead {
   max-width: 550px;
   margin: 0px auto;
}
